<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Chinook Artists</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container text-center">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h1>Chinook Artists</h1>
                <div id="pages"></div>
                <%- content %>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
</body>

</html>